{% extends 'main.html' %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>Welcome to the Thoughts</h1>
        <h6>here you can share and write any thing in your mind anonymously</h6>
        <ul>
            <li>we here respect our privacy policy so no matter what happen we will never share you information with anyone</li>
            <li>we will never violate our privacy so your anonymity here is protected</li>
            <li>note: anyone can write anything so don't take anything personally</li>
        </ul>
    </div>
</div>
{% endblock %}