{% extends 'main.html' %}

{% block content %}

<div class="container">
    <div class="jumbotron">
    {% for msg in get_flashed_messages() %}
<div class="alert alert-danger" role="alert">
      {{ msg|e }}
</div>
    {% endfor %}
    <form  method="post">
<div class="form-group">
  {{ form.hidden_tag() }}
    {{ form.email.label}}
    {{ form.email(class='form-control') }}
</div>
    <div class="form-group">
    {{ form.password.label }}
    {{ form.password(class='form-control') }}
  </div>
  {{ form.submit(class="btn btn-primary" )}}
  </form>
</div>
    </div>

{% endblock %}
